<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Admin</title>
</head>
<body>
<header>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <div th:if="${isLoggedIn == true}">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/confirm_logout">Logout</a></li>
    </div>
  </ul>
</header>
<h1>Admin Page</h1>

<h2>Currently logged-in users:</h2>
<div th:each="activeUser : ${activeUsers}">
  <p th:text="${activeUser}">activeUser</p>
</div>

<h2>All users:</h2>
<div th:each="user : ${users}">
  <p th:text="${user}">user</p>
</div>
</body>
</html>