<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <link href="/css/general.css" rel="stylesheet" type="text/css"/>
  <title>Dashboard</title>
</head>
<body>
<header>
  <ul class="nav-bar">
    <li><a href="/home">Home</a></li>
    <div th:if="${isLoggedIn != true}">
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </div>
    <div th:if="${isAdmin == true}">
      <li><a href="/admin">Admin</a></li>
    </div>
    <div th:if="${isLoggedIn == true}">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/confirm_logout">Logout</a></li>
    </div>
  </ul>
</header>
<h1>Dashboard</h1>

<p th:text="|Hello there ${user.username}|"></p>


<!--<form action="/logout" method="post">-->
<!--  <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>-->
<!--  <button type="submit">Logout</button>-->
<!--</form>-->
</body>
</html>